
.header-refresh-btn {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

.text-center {
    text-align: center !important;
}

.action-buttons-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}